h1 {
 color: black;
 font-family: Helvetica, ;
}

.header {
  background-color: black;
}

.jumbotron {
  background: url(http://s3.amazonaws.com/codecademy-content/projects/broadway/bg.png) no-repeat center center;
  background-size: cover;
  height: 800px;
}
