h1 {
 color: white;
 font-family: Helvetica, ;
}

.header {
  background-color: white;
}

.jumbotron {
  background: url(http://i68.tinypic.com/6ge7fd.jpg) no-repeat center center;
  background-size: cover;
  height: 800px;
}

