
h1 {
  font-family: Helvetica Arial;
  color: white;
  padding-top: 200px;
  
}

.jumbotron {
  background-size: cover;
  background: url(http://oi68.tinypic.com/6ge7fd.jpg) no-repeat center center;
  height: 400px;
} 

h2 {
  font-family: Arial;
}

p {
  font-family: Arial;
}
